body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    background-image: linear-gradient(rgb(127, 127, 241), rgba(37, 122, 233, 0.883));
    background-repeat: no-repeat;

}

.button {
    text-decoration: none;
    background-color: violet;
    margin: 10px;
    padding: 10px 25px;
    border-radius: 50px;
    color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav-logo {}

.nav-logo img {}


.nav-details {}

/* .nav-details {
    position: absolute;
    margin: 20px 100px;
} */

.nav-details ul {

    display: flex;
    flex-direction: row;
}

.nav-details ul li {
    list-style: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
}

.mobile-menu,
#mobile-menu {
    display: none;
}


@media only screen and (max-width:768px) {
    .container {
        width: 90%;
        padding: 0 15px;
        margin: 0 auto;
    }

    .nav-container {
        position: relative;
        align-items: center;
    }

    .nav-logo {}

    .nav-logo img {

        width: 40px;
    }

    .mobile-menu,
    #mobile-menu {
        display: block;
        color: white;
    }

    #mobile-menu:checked~.nav-details {
        display: block;
    }

    .nav-details {
        display: none;
    }

    .nav-details {
        position: absolute;
        background-color: #000;
        width: 100%;
        left: 0;
        top: 40px;
    }

    .nav-container {
        position: relative;
    }

    input#mobile-menu {
        display: none;
    }

    .nav-details ul {
        flex-direction: column;

    }

    .nav-details a {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: white;
    }

    .nav-button a {
        display: inline-block;
        padding: 5px 15px;

    }

    .nav-details ul li a:hover {
        background-color: rgba(148, 148, 137, 0.438);

    }
}